<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section id="ourservice">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="ourservice_leftside">
          <h2>Our Services</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos etLorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          </p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="ourservice_container">
          <div class="container-fluid">
            <div class="row  no-gutters">
              <div class="col-md-4">
                <div class="ourservice_img_card ourServiceFirstLine ">
                  <a routerLink="/ourservice/business-service">
                    <img src="assets/img/ourservice/business-service.png" class="mx-auto d-block img-fluid"
                      alt="thinkahoy business service">
                  </a>
                </div>
                <div class="ourservice_img_card ourServiceFirstLine">
                  <a routerLink="/ourservice/office-space">
                    <img src="assets/img/ourservice/officespace.png" class="mx-auto d-block img-fluid"
                      alt="thinkahoy office space"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ourservice_img_card">
                  <a routerLink="/ourservice/current-account">
                    <img src="assets/img/ourservice/current-account.png" class="mx-auto d-block img-fluid"
                      alt="thinkahoy current account"></a>
                </div>
                <div class="ourservice_img_card">
                  <a routerLink="/ourservice/mentors-coaching">
                    <img src="assets/img/ourservice/mentors-coaching.png" class="mx-auto d-block img-fluid"
                      alt="thinkahoy mentors coaching"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ourservice_img_card ourservice_img_card-last">
                  <a routerLink="/ourservice/insights-on-demand" routerLinkActive="active">
                    <img src="assets/img/ourservice/insights-on-demand.png" class="mx-auto d-block img-fluid"
                      alt="thinkahoy insights on demand"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
