<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->


<section id="faq_main">

  <div class="faq_title">
    <h2>FAQ</h2>
    <h3>Have any questions?</h3>
    <div class="faq_search">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your question here to get started"
          aria-label="Enter your question here to get started" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"> <i class="fas fa-search"></i> </span>
        </div>
      </div>
    </div>
  </div>

  <div class="faq_new_nav">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-ENTREPRENEUR" role="tab"
                aria-controls="pills-home" aria-selected="true">ENTREPRENEUR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-BUSINESS-SERVICE" role="tab"
                aria-controls="pills-profile" aria-selected="false">BUSINESS SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-MENTOR-SERVICE" role="tab"
                aria-controls="pills-contact" aria-selected="false">MENTOR SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-OFFICE-SPACE" role="tab"
                aria-controls="pills-contact" aria-selected="false">OFFICE SPACE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-BANKING-SERVICE" role="tab"
                aria-controls="pills-contact" aria-selected="false">BANKING SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-INVESTOR-SERVICE" role="tab"
                aria-controls="pills-contact" aria-selected="false">INVESTOR SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-OTHERS" role="tab"
                aria-controls="pills-contact" aria-selected="false">OTHERS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="faq_tabs_body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-ENTREPRENEUR" role="tabpanel"
              aria-labelledby="pills-home-tab">

              <div class="before_accondion">

                <div class="faq_accordion">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">

                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  What is Lorem Ipsum?
                                </button>
                              </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type
                                and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the
                                leap into electronic
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Where does it come from?
                                </button>
                              </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of
                                classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin
                                professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                                Latin words,
                                consectetur, from a Lorem Ipsum passage, and going through the cites of the
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Why do we use it?
                                </button>
                              </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a
                                more-or-less normal
                                distribution of letters, as opposed to using 'Content here, content here', making it
                                look like
                                readable English. Many desktop publishing packages and web page editors now use
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="pills-BUSINESS-SERVICE" role="tabpanel">
              BUSINESS SERVICE 2
            </div>
            <div class="tab-pane fade" id="pills-MENTOR-SERVICE" role="tabpanel">
              MENTOR SERVICE 3
            </div>
            <div class="tab-pane fade" id="pills-OFFICE-SPACE" role="tabpanel">
              OFFICE SPACE 4
            </div>
            <div class="tab-pane fade" id="pills-BANKING-SERVICE" role="tabpanel">
              BANKING SERVICE 5
            </div>
            <div class="tab-pane fade" id="pills-INVESTOR-SERVICE" role="tabpanel">
              INVESTOR SERVICE 6
            </div>
            <div class="tab-pane fade" id="pills-OTHERS" role="tabpanel">
              OTHERS 7
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
