<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section id="termsconditions">
  <div class="termsconditions_body">
    <h2>Terms and Conditions</h2>



    <p>
      Welcome to ThinkAhoy ( <a href="https://thinkahoy.com">https://thinkahoy.com</a> ) and/or the ThinkAhoy Mobile App
      (the <strong> "Website”</strong>). This Website is operated by ThinkAhoy Private Limited, having its registered
      office at 7/8 Bilekahalli, Off Bannerghatta Main Road, Bangalore – 560076, India (hereinafter referred to as the
      <strong>“Company”</strong>, <strong>“we”</strong>, <strong>“us”</strong>, and <strong>“our”</strong>, which
      expression would mean and include its officers, successors and permitted assigns). These Terms of Use (“Terms”)
      are published in accordance with the provisions of the Information Technology Act, 2000 and the rules made
      thereunder that require publishing the rules and regulations, privacy policy and terms of use on an online portal
      by the Company. We request you (the <strong>“User”</strong>) to go through the Privacy Policy and these Terms
      carefully before the User decides to access this Website. These Terms form a legally binding agreement between the
      Company and the User.
    </p>


    <h3>1. Applicability of Terms</h3>

    <p>(i) By accessing or using the Website, whether automated or otherwise, you, an investor or service provider or
      entrepreneur or mentors, in terms of the eligibility criteria set out herein (“user”) agree to be bound by these
      Terms and Conditions for availing our services. In these Terms, references to "you", "user" shall mean the end
      user/customer accessing the Website, its contents, using the services offered through the Website and purchasing
      products on the Website.</p>

    <p>(ii) By availing our services, the User also accepts and agrees to be bound by the Company’s policies including
      but not limited to the Privacy Policy available at [https:// https://www.thinkahoy.com/terms-and-use] as amended
      from time to time. If the User chooses to not be bound by these Terms, the User may not subscribe to or use our
      services as provided over the Website. We encourage our users to read these Terms carefully before proceeding and
      using the Website.</p>

    <h3>2. Product and Services:</h3>

    <p>(i) This Website is a platform through which users can connect with other users and avail services related to
      software, technology, design, legal, accounting, marketing and advertising.</p>

    <p>(ii) All services displayed on the Website shall constitute an Invitation to Offer by the users. The Website is a
      networking platform which connects users with other users and does not sell or solicit any service except the
      services provided over this Website to connect users.</p>

    <h3>3. Fee For Connecting And Availing Services Over The Website:</h3>

    <p>(i) If the User avails any services through the connections made through the Website, the User shall be liable to
      pay the following fees to the Company:</p>

    <p>(a) Transaction Fee of one percent (1%) of the project costs for which users connect via our Website.</p>

    <p>(b) The Transaction Fee of one percent (1%) is applicable for a trial period of ninety (90) days. Post completion
      of the trial period, the users can shift to subscription model with fee percentages ranging from zero (0) to one
      percent (1%) (Silver 1%, Gold 0.5% and Platinum 0.0%).</p>

    <p>(ii) The Transaction Fee levied shall be exclusive of any applicable taxes.</p>

    <h3>4. User Account and Login:</h3>

    <p>If the User agrees to use the Website, the User shall be responsible for maintaining the confidentiality of the
      Users display name and password and the User shall be responsible for all activities that occur under the Users
      display name and password. The User agrees that if the User provides any information that is untrue, inaccurate,
      not current or incomplete, the Company shall have the unequivocal right to indefinitely suspend or terminate or
      block access of the Users membership on the Website.</p>

    <h3>5. Conditions For Use:</h3>

    <p>(i) The User will utilize the services provided by us and our users, for lawful purposes only and comply with all
      applicable laws and regulations while using the Website and conducting any transactions on the Website.</p>

    <p>(ii) The User will provide true, accurate, complete and current information in all instances where such
      information is requested the User. We reserve the right to confirm and validate the information and other details
      provided by the User at any point of time. If upon confirmation, the User details are found not to be true (wholly
      or partly), the Company maintains the right in its sole discretion to reject the registration and debar the User
      from using the services of the Website and / or other affiliated websites without prior intimation whatsoever.</p>

    <p>(iii) The User will use its best and prudent judgment before entering into any transaction through this Website
      doing so at the Users sole risk.</p>

    <p>(iv) After connecting with another user, the User agrees to be bound by the conditions of services provided by
      the users.</p>

    <p>(v) The User may not use the Website for any of the following purposes:</p>
    <p><strong>a.</strong> disseminating any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar,
      obscene or otherwise objectionable material which shall include but not be limited to information in any form.</p>
    <p><strong>b.</strong> transmitting material that encourage conduct or incite any activities that result in civil
      liability or otherwise breaches any relevant laws, regulations or code of practice or constitutes a criminal
      offence.</p>
    <p><strong>c.</strong> gaining unauthorised access to other computer systems.</p>
    <p><strong>d.</strong> interfering with any other person’s use or enjoyment of the Website.</p>
    <p><strong>e.</strong> breaching any applicable laws.</p>
    <p><strong>f.</strong> interfering or disrupting networks or web sites connected to the Website.</p>
    <p><strong>g.</strong> making, transmitting or storing electronic copies of materials protected by copyright without
      the permission of the owner including Intellectual Property and confidential information which shall include but
      not be limited to design details and colours.</p>

    <h3>6. Payments</h3>

    <p>(i) While availing any of the payment methods available on the Website, the Company will not be responsible nor
      shall it assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to the
      User due to:</p>

    <p>a. lack of authorization for any transaction/s, or</p>
    <p>b. exceeding the preset limit mutually agreed between the User and the financial service providers the User deal
      with, or</p>

    <p>c. any payment issues arising out of the transaction, or</p>
    <p>d. decline of transaction for any other reason/s.</p>

    <p>(ii) All payments made against availing the services, shall be made compulsorily in the relevant currency of the
      region where the user is located. (“Transaction Fee”).</p>


    <p>(iii) The Transaction Fee and other payment shall be processed by HDFC Bank which is acting as a payment gateway
      and these payments are subject to the following fees to be borne by the users:</p>

    <div class="table_section">

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th rowspan="3">Cards</th>
            <td>Visa/Master Credit Cards</td>
            <td>2.00%</td>
          </tr>
          <tr>
            <td>Debit Cards upto Rs.2000</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>Debit Cards above Rs.2000</td>
            <td>0.90%</td>
          </tr>

          <!-- seoncd -->

          <tr>
            <th rowspan="3">Other Cards</th>
            <td>International Cards</td>
            <td>2.75%</td>
          </tr>
          <tr>
            <td>Diners</td>
            <td>2.75%</td>
          </tr>
          <tr>
            <td>AMEX</td>
            <td>3.50%</td>
          </tr>

          <!-- treed -->
          <tr>
            <th rowspan="2">UPI</th>
            <td>UPI upto Rs.2000</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>UPI above Rs. 2000</td>
            <td>0.65%</td>
          </tr>

          <!-- fouth -->
          <tr>
            <th rowspan="5">NetBanking</th>
            <td>HDFC Bank</td>
            <td>1.80%</td>
          </tr>

          <tr>
            <td>SBI & Associated Banks</td>
            <td>1.80%</td>
          </tr>

          <tr>
            <td>Axis Bank</td>
            <td>1.80%</td>
          </tr>

          <tr>
            <td>ICICI Bank</td>
            <td>1.80%</td>
          </tr>

          <tr>
            <td>Other Banks</td>
            <td>1.60%</td>
          </tr>

        </tbody>
      </table>
    </div>


    <p>(iv) The Transaction Fee and other payment shall be processed by RazorPay which is acting as a payment gateway
      and these payments are subject to the following fees to be borne by the users:</p>



    <div class="table_section">

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Cards</th>
            <td>Visa/Master Credit Cards</td>
            <td>2.00%</td>
          </tr>
          <tr>
            <th rowspan="3">Other Cards</th>
            <td>International Cards</td>
            <td>3.00%</td>
          </tr>
          <tr>
            <td>Diners</td>
            <td>3.00%</td>
          </tr>
          <tr>
            <td>AMEX</td>
            <td>3.00%</td>
          </tr>
          <!-- 3rd  -->
          <tr>
            <th rowspan="5">NetBanking</th>
            <td>HDFC Bank</td>
            <td>2.00%</td>
          </tr>
          <tr>
            <td>SBI & Associated Banks</td>
            <td>2.00%</td>
          </tr>
          <tr>
            <td>Axis Bank</td>
            <td>2.00%</td>
          </tr>
          <tr>
            <td>ICICI Bank</td>
            <td>2.00%</td>
          </tr>
          <tr>
            <td>Other Banks</td>
            <td>2.00%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>(v) Buyers may be charged with indirect taxes (such as Sales Tax, VAT or GST) depending on their residency,
      location and any applicable law, in addition to the ThinkAhoy transaction fees and charges levied by either HDFC
      or RazorPay.</p>


    <p>(vi) Buyers agree that they are responsible to comply with all tax requirements applicable to them, including but
      not limited to any obligation to deduct or withhold taxes. It is hereby clarified that all prices and fees that
      appear on the Site are the net amounts that will be paid following any direct or indirect taxes, levy, withholding
      tax and/or deductions.</p>

    <h3>7. Refund:</h3>

    <p>(i) Any refund of the transaction fee shall be processed post rejection or failure of a project on receiving a
      written request of the user claiming refund.</p>

    <p>(ii) It may take up to 7-14 business days for the credit to reflect in the Users account. The actual time taken
      for refund or for the credit of the payment into the Users account depends on the mode by which the payment was
      made and the procedures adopted by the concerned financial services providers.</p>

    <h3>8. Third Party Websites:</h3>

    <p>The Website includes links to other websites whose terms and privacy practices may differ from those of the
      Company. The inclusion of a link does not imply any endorsement by the Company of the third party website, the
      website’s provider, or the information on the third party website. If the users access or submit personal
      information to any of those websites, such access and information will be governed by the terms of use and privacy
      policies of such third party websites and the Company disclaims all responsibility or liability with respect to
      any information shared on such websites which shall be governed by their respective terms, policies and thereafter
      maintained and/or utilized by the websites. The users are encouraged to carefully read the terms and privacy
      policy of any website that they visit.</p>

    <h3>9. Intellectual Property Right:</h3>

    <p>(i) The Company is the sole owner and lawful licensee of all the rights connected with the Website and its
      content. For the purpose of this clause, the content on the Website includes its design, layout, text, images,
      graphics, sound, video, etc. as well as non-superficially visual functional elements. The title, ownership and
      intellectual property rights in the Website and its content shall remain with the Company, its affiliates or
      licensors of the content, as the case may be.</p>

    <p>(ii) <u>Trademark</u>: ThinkAhoy and related icons and logos are registered or registration has been applied for
      by the Company in various jurisdictions and the same is protected under applicable trademark and other
      intellectual property laws. The unauthorized copying, modification, use or publication of these marks is strictly
      prohibited and shall be subject to appropriate legal proceedings against the unauthorized user(s).</p>

    <p>(iii) <u>Copyright</u>: All content on the Website is the copyright of the Company except the third party content
      and links to third party websites on the Website, if any.</p>

    <h3>10. Indemnity:</h3>
    <p>The User hereby agrees to indemnify and keep indemnified, defend and hold the Company, the Company’s agents,
      affiliates, representatives, authorized users, employees and assigns harmless from and against any and all losses,
      damages, liabilities and costs arising from the Users use of the Website or the Services and / or the violation of
      the Agreement by the User.</p>


    <h3>11. Termination:</h3>
    <p>The User understands and agrees that the Company reserves the right to terminate the Users registration and / or
      terminate the Users right to use the Website for any reason whatsoever, including without limitation, any act or
      omission in contravention of the Privacy Policy or of these Terms. The User further understands and agrees that
      any such termination may be effected without prior notice to the User and the User acknowledges and agrees that
      the Company may delete or deactivate the Users account immediately upon detecting any such reason, including
      without limitation, the contravention of the Privacy Policy or of these Terms.</p>


    <h3>12. Limitation of Liability:</h3>

    <p>In no event shall the Company be liable for any indirect, punitive, incidental, special, consequential damages or
      any other damages resulting from:</p>
    <p>i. the use or the inability to use the services or products on the Website;</p>
    <p>ii. unauthorized access to or alteration of the user's transmissions or data; and</p>
    <p>iii. any other matter relating to the services including, without limitation, damages for loss of use, data or
      profits, arising out of or in any way connected with the use or performance of the Website or service. The Company
      shall not be held responsible for non-availability of the Website during periodic maintenance operations or any
      unplanned suspension of access to the Website. The users understand and agree that any material and/or data
      downloaded at the Website is done entirely at users’ own discretion and risk and they will be solely responsible
      for any damage to their devices or loss of data that results from the download of such material and/or data. The
      Company’s liability shall be limited to an amount equivalent to the value of products purchased on the Website.
    </p>

    <h3>13. Survival:</h3>

    <p>Provisions of limitation of liability, indemnity, intellectual property rights and conditions of use shall
      survive any termination.</p>

    <h3>14. Complaints:</h3>

    <p>We reserve the rights to remove or deactivate the Users account if reported or so informed by any other user of
      the Website or otherwise, for posting inappropriate messages or information through the Website. If the User has
      questions or concerns or grievances regarding these Terms or any other user, the User can contact us as per these
      Terms, or wish to make a complaint, please contact us at [support@thinkahoy.com].</p>

    <h3>15. Waiver:</h3>

    <p>No term of these Terms shall be deemed waived and no breach excused, unless such waiver or consent is in writing
      and signed by an Authorized Representative of the Company. Any consent by the Company to, or waiver of a breach by
      the User, whether express or implied, shall not constitute consent to, waiver of, or excuse for any other
      different or subsequent breach(s).</p>

    <h3>16. Amendments:</h3>
    <p>We reserve the right to make changes to the Website, policies, and these Terms at any time. The User will be
      subject to the Terms in force at the time that the User uses the website or at the time the User places orders on
      the Website, unless any change to those policies or these conditions is required to be made by law or government
      authority (in which case it will apply to orders previously placed by the User). If any of these conditions are
      deemed invalid, void, or for any reason unenforceable, such condition will be deemed severable and will not affect
      the validity and enforceability of any remaining terms and conditions.</p>


    <h3>17. Applicable Law:</h3>

    <p>These Terms and Conditions shall be governed by the laws of India. Any dispute, claim or controversy arising out
      of, or relating to the breach, termination, enforcement, interpretation or validity thereof, including the
      determination of the scope or applicability of these Terms, or to the Users use of the Website or the service or
      information to which it gives access, shall be determined by arbitration in India, before a sole arbitrator.
      Arbitration shall be conducted in accordance with the Arbitration and Conciliation Act, 1996. The seat of such
      arbitration shall be Bangalore. All proceedings of such arbitration, including, without limitation, any awards,
      shall be in the English language. The award shall be final and binding on the parties.</p>


    <h3>18. Severability:</h3>
    <p>If any provision of these Terms are held by a court of competent jurisdiction or arbitral tribunal to be
      unenforceable under applicable law, then such provision shall be excluded from these Terms and the remainder of
      these Terms shall be interpreted as if such provision were so excluded and shall remain to be enforceable in
      accordance with its terms; provided however that, in such event these Terms shall be interpreted so as to give
      effect, to the greatest extent consistent with and permitted by applicable law, to the meaning and intention of
      the excluded provision as determined by such court of competent jurisdiction or arbitral tribunal.</p>


    <h3>19. Electronic Record</h3>
    <p>This document is an electronic record in terms of the Information Technology Act, 2000 (<strong>“IT
        Act”</strong>) and the rules made thereunder as may be applicable, and the amended provisions pertaining to
      electronic records in various statutes as amended by the IT Act. This electronic record is generated by a computer
      system and does not require any physical or digital signatures. This document is published in accordance with the
      provisions of the IT Act and the rules made thereunder that require publishing the rules and regulations, privacy
      policy and terms of use of the Website.</p>

    <h3>20. Complete Understanding</h3>
    <p>These Terms contain the entire understanding of the Parties, and there are no other written or oral
      understandings or promises between the Parties with respect to the subject matter of these Terms other than those
      contained or referenced in these Terms</p>

    <h3>21. Grievance Officer</h3>
    <p>In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of
      the Grievance Officer are provided below:</p>

    <p><strong>Name: </strong> Mr. Pramath Patel</p>
    <p><strong>Designation: </strong>Grievance Officer</p>
    <p><strong>Email: </strong>pramath@thinkahoy.com</p>

  </div>
</section>


<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
