#blog_section {
  margin-top: 10%;
  margin-bottom: 5%;
}

.blog_nav .Title {
  border-bottom: 1px solid #0000003d;
}


.blog_nav {
  background-color: #f9f9f9;
  padding: 10px 0 10px 0px;
}


.blog_nav .Title {
  font-weight: bold;
  font-size: 14px !important;
}

.blog_nav .nav-link {
  font-size: 13px;
  text-align: left;
  padding: 10px 10px;
  cursor: pointer;
}

.blog_nav .nav-link:hover {
  background-color: #fff;
}

.blog_nav .nav-link.active {
  background-color: #fff;
}

.blog_nav .nav-link i {
  color: #b9b8b8;
}

.blog_nav .nav-link.active i {
  font-size: 12px;
  color: #d76b4f;
}


.blog_card h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.blog_card p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 14px;
}


.blog_card a {
  font-size: 14px;
  color: #d76b4f;
}

.blog_card img {
  border-radius: 4px;
  box-shadow: 1px 1px 4px 2px #00000054;
}

.blog_card {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.blog_card:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0 1px 1px #00000024;
}

.blog_right .media {
  padding: 10px;
}

.blog_right .media img {
  width: 60px;
  border-radius: 100%;
  box-shadow: 0px 0px 1px 1px #00000080;
}

.blog_right .media-body p {
  font-size: 12px;
  margin: 0px;
}


.blog_right .media-body .dayAge {
  font-size: 12px;
  color: #cccccc;
}
