<div class="websiteheader">
  <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top"> -->

  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    <span class="navbar-brand hamburgerMenu" (click)="openNav();">
      <img src="assets/img/hamburger-menu.svg" alt="">
    </span>

    <a class="navbar-brand logo" routerLink="/home">
      <img src="assets/img/logo.svg" alt="thinkahoy-logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <!-- <img src="assets/img/hamburger-menu.svg" alt=""> -->

    </button>

    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ourservice" routerLinkActive="active">Our Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
        </li>

        <li class="nav-item actionBtn" (click)="LoginOpen(Login);">
          <a class="nav-link">Login</a>
        </li>
        <li class="nav-item actionBtn" (click)="open(content)">
          <a class="nav-link">Register</a>
      </ul>
    </div>
  </nav>
</div>

<!-- Menu overlay start -->
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn sideNavClose" (click)="closeNav();">X</a>
  <div class="overlay-content">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
    <a class="nav-link" routerLink="/ourservice" routerLinkActive="active">Our Service</a>
    <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ's</a>
    <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
  </div>
</div>
<!-- Menu overlay end -->


<!-- USER REDLE START -->
<ng-template #content let-modal>
  <div class="homepageModels">
    <div class="modal-body">
      <div class="modelinside">
        <span class="close" (click)="modal.close('Save click')">x</span>
        <h2>Register</h2>
        <h3>hello!</h3>
        <p>Some wording would be good</p>
        <div class="model_btn_group">
          <button type="button" class="btn btn-primary"
            (click)="EntreprneurOpen(EntreprneurModel);modal.close('Save click')">REGISTER AS ENTREEPRENEUR</button>
          <button type="button" class="btn btn-primary"
            (click)="ServiceProviderOpen(ServiceProvider);modal.close('Save click')">REGISTER AS SERVICE
            PROVIDER</button>
          <button type="button" class="btn btn-primary" (click)="MentorOpen(Mentor);modal.close('Save click')">REGISTER
            AS MENTOR</button>
          <button type="button" class="btn btn-primary"
            (click)="InvestorOpen(Investor);modal.close('Save click')">REGISTER AS INVESTOR</button>
          <p>Already have an account !<a (click)="LoginOpen(Login);modal.close('Save click')">LOGIN</a></p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- USER REGISTER MODLE END -->

<!-- Entreprneur MODLE START -->
<ng-template #EntreprneurModel let-modal>
  <div class="homepageModels">
    <div class="modal-body">
      <div class="modelinside">
        <span class="close" (click)="modal.close('Save click')">x</span>
        <h2>Entreprneur</h2>
        <p>Grow with your business, and be the best Entrepreneur</p>
        <div class="model_btn_group">

          <form>
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" placeholder="Enter First Name" id="FirstName">
            </div>
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter Last Name" id="LastName">
            </div>
            <div class="form-group">
              <label for="EmailID">Email ID</label>
              <input type="email" class="form-control" placeholder="Enter Email ID" id="EmailID">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="Password">
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password" id="ConfirmPassword">
            </div>
            <div class="register_btn_group">
              <button type="submit" class="btn btn-primary register_btn">REGISTER</button>
            </div>
            <p>By signing up, you agree with our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></p>
            <p>Already have an account !<a (click)="LoginOpen(Login);modal.close('Save click')">LOGIN</a></p>
          </form>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Entreprneur MODLE END -->


<!-- REGISTER AS SERVICE PROVIDER MODLE START -->
<ng-template #ServiceProvider let-modal>
  <div class="homepageModels">
    <div class="modal-body">
      <div class="modelinside">
        <span class="close" (click)="modal.close('Save click')">x</span>
        <h2>Service Provider</h2>
        <p>Grow with your business, and be the best Entrepreneur</p>
        <div class="model_btn_group">

          <form>
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" placeholder="Enter First Name" id="FirstName">
            </div>
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter Last Name" id="LastName">
            </div>
            <div class="form-group">
              <label for="EmailID">Email ID</label>
              <input type="email" class="form-control" placeholder="Enter Email ID" id="EmailID">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="Password">
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password" id="ConfirmPassword">
            </div>
            <div class="register_btn_group">
              <button type="submit" class="btn btn-primary register_btn">REGISTER</button>
            </div>
            <p>By signing up, you agree with our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></p>
            <p>Already have an account !<a (click)="LoginOpen(Login);modal.close('Save click')">LOGIN</a></p>
          </form>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- REGISTER AS SERVICE PROVIDER MODLE END -->



<!-- REGISTER AS MENTOR MODLE START -->
<ng-template #Mentor let-modal>
  <div class="homepageModels">
    <div class="modal-body">
      <div class="modelinside">
        <span class="close" (click)="modal.close('Save click')">x</span>
        <h2>Mentor</h2>
        <p>Grow with your business, and be the best Entrepreneur</p>
        <div class="model_btn_group">

          <form>
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" placeholder="Enter First Name" id="FirstName">
            </div>
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter Last Name" id="LastName">
            </div>
            <div class="form-group">
              <label for="EmailID">Email ID</label>
              <input type="email" class="form-control" placeholder="Enter Email ID" id="EmailID">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="Password">
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password" id="ConfirmPassword">
            </div>
            <div class="register_btn_group">
              <button type="submit" class="btn btn-primary register_btn">REGISTER</button>
            </div>
            <p>By signing up, you agree with our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></p>
            <p>Already have an account !<a (click)="LoginOpen(Login);modal.close('Save click')">LOGIN</a></p>
          </form>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- REGISTER AS MENTOR MODLE END -->



<!-- REGISTER AS INVESTOR MODLE START -->
<ng-template #Investor let-modal>
  <div class="homepageModels">
    <div class="modal-body">
      <div class="modelinside">
        <span class="close" (click)="modal.close('Save click')">x</span>
        <h2>Investor</h2>
        <p>Grow with your business, and be the best Entrepreneur</p>
        <div class="model_btn_group">

          <form>
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" placeholder="Enter First Name" id="FirstName">
            </div>
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter Last Name" id="LastName">
            </div>
            <div class="form-group">
              <label for="EmailID">Email ID</label>
              <input type="email" class="form-control" placeholder="Enter Email ID" id="EmailID">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="Password">
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password" id="ConfirmPassword">
            </div>
            <div class="register_btn_group">
              <button type="submit" class="btn btn-primary register_btn">REGISTER</button>
            </div>
            <p>By signing up, you agree with our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></p>
            <p>Already have an account !<a (click)="LoginOpen(Login);modal.close('Save click')">LOGIN</a></p>
          </form>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- REGISTER AS INVESTOR MODLE END -->



<!-- Login MODLE START -->
<ng-template #Login let-modal>
  <div class="homepageModels">
    <div class="modal-body">
      <div class="modelinside">
        <span class="close" (click)="modal.close('Save click')">x</span>
        <h2>Login</h2>
        <h3>Welcome back!</h3>
        <p>Please login to your account.</p>
        <div class="model_btn_group">
          <form>
            <div class="form-group">
              <label for="EmailID">Username</label>
              <input type="email" class="form-control" placeholder="Enter Username" id="Username">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="Password">
            </div>

            <div class="forgotpass">
              <p>Forget your password</p>
            </div>
            <div class="register_btn_group">
              <button type="submit" class="btn btn-primary register_btn">Login</button>
            </div>
            <p>Don't have an account?<a (click)="open(content);modal.close('Save click')">REGISTER</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Login MODLE END -->
