* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.vid-info {
  position: absolute;
  top: 20%;
  right: 50%;
  width: 50%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem;
  }

  .vid-info h1 {
    margin-bottom: .2rem;
  }
}

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}


/* Mycss start */
#Banner {
  background-color: #000;
}

.VideoBanner iframe {
  width: 100%;
  height: 100vh;
}


#bannerUnmute {
  background-color: transparent;
  border: 0px;
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0px;
  cursor: pointer;
}

#bannerUnmute img {
  width: 60px;
  opacity: 0.5;
}

#bannerUnmute img:hover {
  opacity: 1;
}

#whatIsThinkAhoy {}

.whatIsThinkAhoy_body {
  padding: 50px 30px;
}

.whatIsThinkAhoy_img img {
  width: 100%;
  border-radius: 3px;
}

.whatIsThinkAhoy_right {
  padding-top: 60px;
}

.whatIsThinkAhoy_right h2 {
  color: #25292D;
}

.whatIsThinkAhoy_right p {
  text-align: justify;
}


.big_banner_img_body img {
  padding-left: 2.4%;
}

.TheThinkAhoyMission_body {
  padding: 100px 20px;
}

.TheThinkAhoyMission_title h2 {
  padding-top: 40px;
}

.TheThinkAhoyMission_text1 p {
  text-align: justify;
}

.JoinhandsinThinkAhoymission_title h2 {
  text-align: center;

}


.JoinhandsinThinkAhoymission_card .JoinhandsinThinkAhoymission_numbers {
  color: #DF8C76;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
  font-size: 35px;
}

.JoinhandsinThinkAhoymission_card .JoinhandsinThinkAhoymission_details {
  text-align: center;
}

.JoinhandsinThinkAhoymission_title {
  padding: 60px 0px;
}

.JoinhandsinThinkAhoymission_card {
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
}

.JoinhandsinThinkAhoymission_card:hover {
  padding: 10px;
  border: 1px solid #ffe2e2;
  border-radius: 4px;
}

.videoContainer video {
  width: 100%;
  height: auto;
}

.goDown {
  position: absolute;
  left: 50%;
  z-index: 99;
  bottom: 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  padding: 6px 2px;
  border-radius: 4px;
}

.goDown img {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.goDown:hover {
  background-color: #d76b4f;
}

.goDown:hover img {
  opacity: 1;
}

#owlCarouselSection {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 5%;
}

#owlCarouselSection img {
  width: 80%;
}


.carousel_body {
  margin-top: 5%;
}
