<app-header></app-header>


<div class="carousel_body">
  <div style="text-align:center">
    <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide><img src="assets/img/banner/banner1.png">
      </ng-template>
      <ng-template carouselSlide><img src="assets/img/banner/banner2.png">
      </ng-template>
      <ng-template carouselSlide><img src="assets/img/banner/banner3.png">
      </ng-template>
      <ng-template carouselSlide><img src="assets/img/banner/banner1.png">
      </ng-template>
      <ng-template carouselSlide><img src="assets/img/banner/banner2.png">
      </ng-template>

    </owl-carousel-o>
  </div>
</div>



<!-- NEED TO IMPLEMENT OWL CAROUSELE START -->
<!-- <section id="owlCarouselSection">
  <img src="assets/img/banner/banner1.png" class="img-fluid mx-auto d-block" alt="">
</section> -->
<!-- NEED TO IMPLEMENT OWL CAROUSELE END -->

<section id="whatIsThinkAhoy" #destinationRef>

  <div class="whatIsThinkAhoy_body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="whatIsThinkAhoy_img">
            <img src="assets/img/whatIsThinkAhoy.svg" alt="what Is ThinkAhoy">
          </div>
        </div>
        <div class="col-md-6">
          <div class="whatIsThinkAhoy_right">
            <h2>What is ThinkAhoy ?</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos etLorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
              diam
              voluptua. At vero eos etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos etLorem ipsum
              dolor
              sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
              aliquyam erat, sed diam voluptua. At vero eos et</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="big_banner_img">
  <div class="big_banner_img_body">
    <img src="assets/img/Excepteursint.svg" class="img-fluid" alt="ThinkAhoy">
  </div>
</section>

<section id="TheThinkAhoyMission">
  <div class="TheThinkAhoyMission_body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="TheThinkAhoyMission_title">
            <h2>The ThinkAhoy Mission</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="TheThinkAhoyMission_text1">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque
              eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="TheThinkAhoyMission_text1">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque
              eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="JoinhandsinThinkAhoymission">
    <div class="JoinhandsinThinkAhoymission_title">
      <h2>Join hands in ThinkAhoy mission</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="JoinhandsinThinkAhoymission_card">
            <img src="https://www.thinkahoy.com/assets/images/entrepeneurs.png" alt="" class="mx-auto d-block">
            <p class="JoinhandsinThinkAhoymission_numbers">
              12345
            </p>
            <div id="shiva">
              <span class="count">200</span>
            </div>
            <p class="JoinhandsinThinkAhoymission_details">
              Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="JoinhandsinThinkAhoymission_card">
            <img src="https://www.thinkahoy.com/assets/images/entrepeneurs.png" alt="" class="mx-auto d-block">
            <p class="JoinhandsinThinkAhoymission_numbers">
              12345
            </p>
            <p class="JoinhandsinThinkAhoymission_details">
              Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod
            </p>
          </div>

        </div>
        <div class="col-md-3">
          <div class="JoinhandsinThinkAhoymission_card">
            <img src="https://www.thinkahoy.com/assets/images/entrepeneurs.png" alt="" class="mx-auto d-block">
            <p class="JoinhandsinThinkAhoymission_numbers">
              12345
            </p>
            <p class="JoinhandsinThinkAhoymission_details">
              Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="JoinhandsinThinkAhoymission_card">
            <img src="https://www.thinkahoy.com/assets/images/entrepeneurs.png" alt="" class="mx-auto d-block">
            <p class="JoinhandsinThinkAhoymission_numbers">
              12345
            </p>
            <p class="JoinhandsinThinkAhoymission_details">
              Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
