<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section id="ourservice_inside_page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="ourservice_details">
          <h2>Business</h2>
          <img src="assets/img/ourservice/business-service-big.png" class="img-fluid" alt="thinkahoy business service">
        </div>
      </div>
      <div class="col-md-6">
        <div class="ourservice_container_text">
          <p>Finding the right accountants, lawyers, marketing specialists, technology consultants or even stationery
            suppliers today involves business owners searching for people through their network or on the internet and
            managing them through tons of back and forth emails. Think Ahoy simplifies this by connecting entrepreneurs
            to business service providers across the globe. Be it, incorporating a company or managing your next
            marketing campaign. Growing your business or setting it up will soon be hassle-free through Think Ahoy's
            service marketplace. Sign up in the loop and get a chance to access the marketplace before our launch in
            2019.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="detailed_modle">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="detailed">
            <a routerLink="/ourservice/office-space">
              <img src="assets/img/ourservice/officespace.png" class="mx-auto d-block img-fluid"
                alt="thinkahoy office space"></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="detailed">
            <a routerLink="/ourservice/current-account">
              <img src="assets/img/ourservice/current-account.png" class="mx-auto d-block img-fluid"
                alt="thinkahoy current account"></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="detailed">
            <a routerLink="/ourservice/mentors-coaching">
              <img src="assets/img/ourservice/mentors-coaching.png" class="mx-auto d-block img-fluid"
                alt="thinkahoy mentors coaching"></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="detailed">
            <a routerLink="/ourservice/insights-on-demand" routerLinkActive="active">
              <img src="assets/img/ourservice/insights-on-demand.png" class="mx-auto d-block img-fluid"
                alt="thinkahoy insights on demand"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
