<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->
<section id="termsconditions">
  <div class="termsconditions_body">
    <h2>Privacy Policy</h2>
    <p>We, <a href="https://thinkahoy.com">https://thinkahoy.com</a> (the <strong>“Website”</strong>) and the ThinkAhoy
      App including the ThinkAhoy Mobile App and the ThinkAhoy
      Web App (collectively referred to as the <strong>“App”</strong>) are an internet based platform owned and operated
      by ThinkAhoy
      Private Limited, together with its affiliates, successors, and assigns (hereinafter referred to as
      <strong>“we”</strong>, <strong>“us”</strong> and
      <strong>“our”</strong> as the context may require). We are committed to safeguard the privacy of our users,
      visitors and all other
      persons who access the Website and/or the App (herein referred to as <strong>“you”</strong>,
      <strong>“user”</strong> and <strong>“your”</strong> as the context may
      require).</p>
    <p>This Privacy Policy describes the type of material information collected from users, including Personal
      Information (<u> details provided in Clause 1.1 below</u>>) and Usage information (<u>provided in Clause 1.2
        below</u>) relating to a user or any other individual accessing the Website and/or the App. It also describes
      the manner in which we collect, receive, store, process, use, transfer, protect and disclose Personal Information
      and Sensitive Personal Data or Information (<strong>“SPDI”</strong>) of users collected through the Website and/or
      the App. In the event, we collect SPDI and process it for any other purpose; we will treat it as per this Privacy
      Policy and relevant applicable law.</p>
    <p>This Privacy Policy forms a part of the terms of use of our Website and/or the App (<strong>“Terms of
        Use”</strong>) available at <a
        href="https://www.thinkahoy.com/terms-conditions">https://www.thinkahoy.com/terms-conditions</a>. By visiting
      and using the Website and/or downloading the App, you accept and consent to the terms of this Privacy Policy. We
      reserve the right to change the terms of this Privacy Policy without providing any prior intimation. You are
      requested to review this page periodically, to remain alert of any changes.</p>
    <h3>1. Nature of Information Collected</h3>
    <h4>1.1. Personal Information</h4>
    <p>1.1.1. All information provided to us, when a user registers or subscribes to services, or on the Website/App,
      including name, address, telephone number, email address, gender etc.</p>
    <p>1.1.2. All information that a user chooses to share on the Website/App while filling the registration form to
      avail our services.</p>
    <p>1.1.3. Other information such as full name, email address, postal code, password, your gender, mobile phone
      number, address and other information you may provide in order to validate your account. Your profile picture, if
      any, will be publicly displayed as part of your account information.</p>
    <p>1.1.4. Anonymized Data, which is de-identified, de-aggregated and/or altered such that it cannot be connected or
      linked to any specific user.</p>
    <h4>1.2. Personal Information of Children</h4>
    <p>1.2.1. We do not knowingly solicit or collect personal data from children below the age of (18). If it comes to
      our notice that we have without our knowledge or inadvertently collected personal data from a child below (18), we
      will remove that child's personal data from our records promptly. That being said, we may, if required, collect
      personal data about children below the age of (18) years of age from the parent or guardian directly, and with
      that person's consent.</p>
    <h4>1.3. Usage Information</h4>
    <p>1.3.1. Technical information such as your IP Address, login information, operating system, browser type, the page
      served, time preceding page viewed, purchase history, search history, length of visits, metadata (data about other
      information collected, such as date, time, size etc.).</p>
    <p>1.3.2. Log file information, i.e., information automatically reported by your browser upon accessing the Website
      and/ or the App.</p>
    <p>1.3.3. Demographic data, profile data about users and behavioural information such as advertisements clicked on,
      products viewed, services availed, services considered.</p>
    <p>1.3.4. Information from your mobile phone such as mobile number, device type, contacts list, location, IP
      address, login information, search history, purchase history, the length of visits, metadata etc.</p>
    <p>1.3.5. Information in relation to engagement through our services, collected and stored information about you to
      process your requests and automatically complete forms for future transactions, including (but not limited to)
      your phone number, address, email, billing information and credit or payment card information. This information
      may be shared with third-parties which assist in processing and fulfilling your requests, including payment
      gateway processors.</p>
    <h4>1.4. Cookies</h4>
    <p>1.4.1. Cookies are alphanumeric identifiers or files that we transfer to your device through your web
      browser/mobile device to enable our systems to recognise your browser and to provide features such as ‘Recommended
      for You’, personalised advertisements on other websites.</p>
    <p>1.4.2. Most browsers allows you to prevent them from accepting new cookies or disable cookies altogether. Each
      browser is different; so check the ‘help’ menu of your browser to learn how to change your cookie preferences.
      Since cookies allow you to take advantage of some of the website’s essential features, we recommend that you leave
      them turned on. If you choose to decline cookies, you may not be able to use other interactive features on our
      Website/App.</p>
    <p>1.4.3. We may use cookies for a number of purposes, including to:</p>
    <p>(i) Provide general internal analytics;</p>
    <p>(ii) Study traffic patterns in order to improve Website/App performance, to customise your experience, and to
      better match your interests and preferences;</p>
    <p>(iii) Keep track of preferences you specify while you are using our Website’s/App’s services;</p>
    <p>(iv) Support security measures, such as requiring re-login into the website after a certain time period has
      elapsed;</p>
    <p>(v) Save your username and password, if you login to our Website/App, so that we can process the saved
      information and quickly log you into the Website/App; and</p>
    <p>(vi) Assist in identifying possible fraudulent activities.</p>
    <p>1.4.4. We have no access to third party cookies and third party organisations do not have access to ours. The
      third party organisations that place cookies have their own privacy policies.</p>
    <h3>2. Use of Information</h3>
    <p>2.1. User information mentioned in Clauses 1.1, 1.2 and 1.3 may be utilised in the following ways and for the
      following purposes:</p>
    <p>(i) To provide safe, efficient, smooth and customised experience on the Website/App and allow you to participate
      in the features we offer on the Website/App;</p>
    <p>(ii) To process your registration;</p>
    <p>(iii) To enable us to provide the services offered by us, that includes sharing information with prospective
      business leads;</p>
    <p>(iv) To enforce the applicable Terms of Use and minimise and protect you from fraud and other criminal activity;
    </p>
    <p>(v) To create a “User Account” and/or a “Business Account” for the storage of your information, for subsequent
      transfer, download and use;</p>
    <p>(vi) To carry out obligations arising from contracts between you and us including, but not restricted to,
      delivery of our services, collection of payment and provision of customer services;</p>
    <p>(vii) To provide you with information, products and services that you have requested/subscribed for, or agreed to
      receive;</p>
    <p>(viii) For internal operations such as troubleshooting, data analysis, research, testing and service improvement
      of the Website/App, and to improve the Website/App;</p>
    <p>(ix) To respond to judicial process and provide information to law enforcement agencies or in connection with an
      investigation on matters related to public safety, as permitted by law, and</p>
    <p>(x) To fulfil other purposes disclosed at the time you provide your information or otherwise, with your consent.
    </p>
    <p>2.2. In addition, we may use Anonymized Data for analysis in order to provide better services and connecting you
      with relevant users on the platform.</p>
    <p>2.3. By visiting, accessing and/or using the Website and/ or App and/or submitting your information, you consent
      to such use of your information, including your Personal Information and Usage Information.</p>
    <h3>3. Transfer and Disclosure of Information</h3>
    <p>3.1. We may share your information, including Personal Information and Usage Information amongst our affiliates,
      business partners, suppliers, sub-contractors and other third parties for processing, in order to provide you with
      the best quality services. Such affiliates, business partners, suppliers and sub-contractors may be located within
      or outside India, primarily for business and operational purposes.</p>
    <p>3.2. We may share Anonymized Data with third parties, including but not limited to, advertisers, investors, and
      strategic partners for commercial exploitation thereof.</p>
    <p>3.3. We may transfer your information, including Personal Information and Usage Information to third parties, in
      case of transfer of our business assets or ownership (such as in case of merger, acquisition, bankruptcy,
      liquidations etc.). In such event users will continue to remain the owner of such information and the
      buyer/transferee will continue to honour the terms of this Privacy Policy.</p>
    <p>3.4. We may transfer your information, including Personal Information, Usage Information and device information,
      to third parties, if we are under a duty to disclose or share such information in order to comply with any legal
      obligation, or where we believe, in good faith, that the law requires it, or at the request of Governmental
      authorities conducting an investigation, or in order to enforce, verify or apply our Terms of Use and other
      agreements or policies, or to respond to an emergency.</p>
    <p>3.5. We may engage third parties to perform functions on our behalf, such as hosting or operating our Website,
      sending email communications, and data analysis. We may share your Personal Information with third parties in
      order for them to provide content or otherwise perform services for us, and we will require such parties to adhere
      to appropriate security practices to protect such information from unauthorised access or processing.</p>
    <p>3.6. We may exchange information with other companies and organizations for the purpose of fraud protect.</p>
    <p>3.7. By visiting, accessing and/or using the Website and/ or the App and/or submitting your information, you
      consent to such transfer and disclosure of your information including your Personal Information and Usage
      Information.</p>
    <h3>4. Storage of Information</h3>
    <p>4.1. Your information collected by us may be stored by us or our affiliates, business partners, suppliers and
      sub-contractors. Information may also be stored in or outside India.</p>
    <p>4.2. Your information shall be stored only for the period necessary for purposes specified hereinabove.</p>
    <p>4.3. By visiting, accessing and/or using the Website and/or submitting your information, you consent to such
      storage of your information, including your Personal Information and Usage Information.</p>
    <h3>5. Your Rights</h3>
    <p>5.1. You have a right to opt-out of providing any of the information mentioned in Clause 1.1. However, in such
      event, we reserve the right to refuse or limit your access and use of our Website and/ or the App and its
      features, including services offered on our Website and/ or the App.</p>
    <p>5.2. You have the right to withdraw your consent to the use, disclosure or transfer of your information mentioned
      in Clause 1.1. However, in such event, we reserve the right to refuse or limit your access and use of our
      Website/App and its features, including services offered on our Website/App.</p>
    <p>5.3. You have the right to update or correct your information provided under Clause 1.1. You may exercise such
      right by using the ‘Edit Profile’ option provided in the Website/App.</p>
    <p>5.4. You have the right to unsubscribe from any commercial communication, which is not essential for us to
      provide you with our services. You may exercise such right by clicking on the link, <a
        href="https://thinkahoy.com/unsubscribe.">https://thinkahoy.com/unsubscribe.</a></p>
    <h3>6. Grievance Officer</h3>
    <p>6.1. The name and contact details of our grievance officer is as provided below:</p>
    <p><strong>Name: </strong> Mr. Pramath Patel</p>
    <p><strong>Designation: </strong> Grievance Officer</p>
    <p><strong>Email: </strong> pramath@thinkahoy.com</p>
    <p>Our grievance officer may be contacted with respect to any complaints or concerns including those pertaining to
      breach of our Terms of Use and/or the Privacy Policy.</p>
    <h3>7. Security Practices</h3>
    <p>7.1. We strive to ensure the security, integrity and privacy of your information and to protect your information
      against unauthorized access or unauthorized alteration, disclosure or destruction.</p>
    <p>7.2. For the above purpose, we have adopted internal reviews of the data collection, storage and processing
      practices and security measures, including appropriate encryption and physical security measures to guard against
      unauthorized access to systems where your information is stored.</p>
    <p>7.3. We also have a comprehensive documented information security programme and policy which contains managerial,
      technical, operational and physical security control measures, as required by law.</p>
    <p>7.4. However, in order to facilitate more effective data protection, we urge you to take steps to keep your
      information safe, by memorising your passwords, or keeping them in a safe place (separate from your account
      information), logging out of user accounts, and closing your web browser.</p>
    <p><strong>Effective Date: </strong> This Privacy Policy is effective as of August 15, 2019.</p>
  </div>
</section>
<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
