<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="aboutus_img">
          <img class="img-fluid" src="assets/img/aboutus/aboutus-img.svg" alt="Thinkahoy About us">
        </div>
      </div>
      <div class="col-sm-7">
        <div class="aboutus_first">
          <div class="about_before">
            <h2>About Us</h2>
            <p>Think Ahoy brings entrepreneurs, mentors, investors and business service providers onto one single
              platform.</p>
          </div>
          <div class="aboutus_second">
            <div class="aboutus_group_img">
              <div class="container">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-fluid" src="assets/img/aboutus/aboutus1.svg" alt="">
                  </div>
                  <div class="col-sm-3">
                    <img class="img-fluid" src="assets/img/aboutus/aboutus2.svg" alt="">
                  </div>
                  <div class="col-sm-3">
                    <img class="img-fluid" src="assets/img/aboutus/aboutus3.svg" alt="">
                  </div>
                  <div class="col-sm-3">
                    <img class="img-fluid" src="assets/img/aboutus/aboutus4.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <p>Think Ahoy aims to democratise the concept of building companies by breaking down barriers such as
              geographical differences and helps establish effective business partnerships to solve problems. Think Ahoy
              is one platform that bridges the divide between mentors, investors, business service providers and
              entrepreneurs across the globe. By Think-ing Ahoy, one can establish and nurture businesses while learning
              from the best to solve real problems and craft fascinating stories.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="OurCulture">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="OurCulturebody">
          <h2>Our Culture</h2>
          <p>Think Ahoy aims to democratise the concept of building companies by breaking down barriers such as
            geographical differences and</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="MEETOURTEAM">
          <div class="MEETOURTEAM_title">
          </div>
          <div class="MEETOURTEAM_img">
            <!-- <img src="assets/img/aboutus/team.svg" class="img-fluid" alt="thinkahoy meet our team"> -->
            <img src="assets/img/aboutus/team2.svg" class="img-fluid" alt="thinkahoy meet our team">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
